<!DOCTYPE html>
<htm lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<title> My wedsite </title>
<style>
h1 {
  color: maroon;
  text-align: center;

}
table, td , th {
  background-color: lightgreen;
  border: 2px; solid black;
}
ing {
  width: 500px;
  height: 500px;

}
ul li {
  color:blue;
}
</style>
</head>
<head>